<div class="cookie-consent-container">
  <div class="cookie-consent">
    <div class="cookie-consent-content row">
      <div class="col-xs-10">
        Welcome to {{site.name  | escape}}. This site uses cookies. To find out more read our <a title="Cookie policy" href="/cookie-policy">privacy policy</a>.
      </div>
      <a aria-label="Close cookie consent" href="javascript:acceptCookies()" class="icon-wrapper">
        {% include icons/glyphicon-remove-circle.svg %}
      </a>
    </div>
  </div>
</div>
