<header class="site-header">

   <div class="row">
      <div  class="section-container">
        <div class="header-logo pull-left">
            <a href="/">
                <h1 class="sr-only site-logo-text">{{site.name | escape}}</h1>
                <img src="{{site.imgurl | escape}}logo.svg" alt="{{site.name | escape}} Logo"/>
            </a>
        </div>
        <nav class="nav navbar-static-top" role="navigation">
            <div class="menu-container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-nav">
                        
                        Menu <span>{% include icons/menu-chevron.svg %}
                        </span>

                </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="header-menu collapse navbar-collapse" id="header-nav">
                <ul class="nav navbar-nav">
                    {% assign menuItems = site.menus | where:"title","Primary Navigation"  %}
                   
                    {% for menuItem in menuItems[0].items %}
                    {% assign itemUrl  = menuItem[1] | remove_first: ".html" %}
                    <li class=" {% if page.url == itemUrl %}active{% endif %}"><span><a href="{{menuItem[1] | escape}}" title="{{menuItem[0] | escape}}">{{menuItem[0] | escape}}</a></li>
                    {% endfor %}
                </ul>
                </div>
            </div>
        </nav>
        </div>
   </div>
</header>
