<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ site.name }} :: {% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | escape |strip_newlines | truncate: 160 }}{% else %}{{ site.description | escape }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl | escape}}"/>
  
  <link rel="stylesheet" href="{{ '/assets/css/style.min.css' | prepend: site.baseurl | escape}}"/>
  <link rel="stylesheet" href="{{ '/assets/css/print.css' | prepend: site.baseurl | escape}}" media='print'/>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | escape}}"/>

  <!--[if lt IE 9]>
  <script type="text/javascript" src="{{ '/assets/js/html5shiv.min.js' | prepend: site.baseurl | escape}}"></script>
  <script type="text/javascript" src="{{ '/assets/js/respond.min.js' | prepend: site.baseurl | escape }}"></script>
  <![endif]-->
  
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/favicons/manifest.json">
  <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#84ccf2">
  <meta name="apple-mobile-web-app-title" content="Cyber Essentials">
  <meta name="application-name" content="Cyber Essentials">
  <meta name="theme-color" content="#ffffff">

  {% include piwik.html %}

  {% seo title=false %}
</head>
