// colors
$white: #fff;
$black: #0b0c0c;
$yellow: #FFC600;
$yellow-highlight: #FFD851;
$blue:#005CA7;
$green: #99CC66;
$purple:#B1AAE3;
$light-gray: #ebeef6;
$dark-gray: #6D6E71;
$min-gray: #9b9b9b;
$gray: #6f777b;
$search-blue:#005EA5;
//temporary names - need full colour pallete
$mischka:   #D7DBE5;
$polar:     #F4FAFD;
$cornflowerBlue: grey;

$guidance-color: $green;
$certification-color: $purple;
$affiliate-color: $light-gray;

$text-color:#4c5557;
$table-border-color : #ccc;
$table-striped-color: #f4f4f4;
$footer-bgc: #34363C;
// Brand alias
$primary-color: $blue;
$dark-color: #444;

// Purpose colors
$body-bg-color: #f5f5f5;
$light-bg-color: $white;
$link-color: #337ab7;
$link-hover-color: darken($blue,10%);

$error-color: #ff0000;

// Typography
$light-font-color: $white;
$dark-font-color: $black;
