$keyline-size: 8px;

$header-padding: 20px;
$default-padding: 20px;
$strip-height: 40px;

$box-shadow: 4px 4px 0 $black;

// Tag
$tag-font-size: 1.2rem;
$tag-small-padding: 4px;
$tag-padding: 12px;
$tag-shadow: 4px 4px 0 $black;

$bootstrap-container-max-width: 992px;
$max-page-breakpoint: $bootstrap-container-max-width;
$large-breakpoint: 1392px;
$medium-breakpoint: 992px;
$small-breakpoint: 650px;
$xsmall-breakpoint: 360px;
