

$h1-fs: 46px;
$h1-lh: 52px;
$h2-fs: 36px;
$h2-lh: 38px;
$h3-fs: 24px;
$h3-lh: 28px;

$body-fs: 16px;
$note-fs: 16px;
$note-lh: 24px;
$summary-fs: 24px;
$btn-fs: 24px;
$btn-lh: 28px;

%header-1 {
  color: $dark-font-color;
  @include font-size($h1-fs);
  letter-spacing: 0;
  @include line-height($h1-lh);

  
  @media (max-width: $xsmall-breakpoint){
    @include font-size($h1-fs - 15px);
    @include line-height( $h1-lh - 15px);
  }
}

%header-2 {
  color: $dark-font-color;
  @include font-size( $h2-fs);
  letter-spacing: 0;
  @include line-height( $h2-lh);
  margin-bottom: $h2-lh;
  
}

%header-3 {
  color: $dark-font-color;
  @include font-size($h3-fs);
  letter-spacing: 0;
  @include line-height( $h3-lh);

  @media (max-width: $small-breakpoint) {
    @include font-size($h3-fs - 5px);
    @include line-height($h3-lh - 5px);
  }
}

%body-font {
  color: $dark-font-color;
  @include font-size($body-fs);
  font-weight: normal;
}

%button-font {
  color: $dark-font-color;
  @include font-size($btn-fs);
  letter-spacing: 0;
  @include line-height( $btn-lh);

  @media (max-width: $small-breakpoint) {
    @include font-size($btn-fs - 4px);
    @include line-height($btn-lh + 4px);
  }
}

%summary-font {
  color: $dark-font-color;
  @include font-size($summary-fs);
  font-weight:200;
  @include line-height(33px);
  @media (max-wdth: $small-breakpoint) {
    @include font-size( $summary-fs - 2px);
  }
}

%menu-font {
  color: $dark-font-color;
  @include font-size( 16px);
}

%note-font {
  color: $gray;
  @include font-size($note-fs);
  @include line-height($note-lh);

  @media (max-width: $small-breakpoint) {
    @include font-size($note-fs - 2px);
    @include line-height( $note-lh - 2px);
  }
}
%header-font{
  @include font-size($h1-fs);
  @media (max-width: $small-breakpoint) {
    @include font-size($h1-fs - 10px);
    @include line-height($h1-lh - 10px);
  }
  @media (max-width: $xsmall-breakpoint) {
    @include font-size($h1-fs - 15px);
    @include line-height($h1-lh - 15px);
  }
}

%regular-font {
  font-family: "raleway-regular",Helvetica;
}

%semi-bold-font {
  font-weight:300;
}
  

%bold-font {
  @include font-size(18px);
  font-weight:400;
  font-family: "raleway-bold",Helvetica;
}

%medium-font {
  font-family: "raleway-regular",Helvetica;
}

%light-font {
  font-family: "raleway-light",Helvetica;
}

%small-font-size {
  @include font-size(14px);
  @include line-height(16px);
}

%regular-font-size {
  @include font-size(16px);
  @include line-height(18px);
}

%large-font-size {
  @include font-size(24px);
  @include line-height(28px);
}

html {
  font-size: 10px;
}

body {
  font-family: "raleway-regular",Helvetica;
}

h1 {
  @extend %header-1;

  p {
    @include line-height(12px);
  }
}

h2 {
  @extend %header-2;

    a {
      color: $light-font-color;
      text-decoration: none;

      &:hover {
        color: darken($primary-color, 10%);
      }
    }
}

h3 {
  @extend %header-3;
}


h4{
  font-family: 'raleway-semibold', 'helvetica';
  margin:$default-padding 0 $default-padding;
}

strong {
  @extend %bold-font;
}

.page-summary {
  @extend %summary-font;
  color: $light-font-color;
}

.section-header {

  margin-bottom: 15px;

  h2{
    font-family: "raleway-regular",Helvetica;
    margin-top: 50px;
    @include font-size(46px);
    margin-bottom: 13px;
  }
  h3{
    margin-top:0;
    @include font-size(24px);
  }
}
.section-sub-header {
  @extend %header-1;
  @extend %medium-font;
  padding: $default-padding 0;
}

.light-header {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $light-font-color;

    @media (max-width: $small-breakpoint) {
      margin-top: $default-padding / 2;
    }

  }
}

.inline-btn-text {
  display: table-cell;
  vertical-align: middle;
  height: 72px;
  padding-bottom: $default-padding;
}

a , .faux-link{
  @extend %body-font;
  color: $link-color;

  &:active,
  &:focus,
  &:hover {
    color: $link-hover-color;
    cursor: pointer;
  }
}
svg{pointer-events:none;}

a, [focusable='true'], [tabindex='0'], button, input, textarea, select, checkbox {
   &:focus{
    outline: #ffbf47 solid 3px !important;
    outline-offset: 0;
  }
}
.bold{
 font-family:'raleway-bold', 'helvetica';
 font-weight:bold; 
}