
%hero{
   
    position:relative;    
    overflow:hidden;
    .hero-item-image-container {

        background-repeat: no-repeat;
        background-attachment: local;
        background-size: contain;
        background-position-y: bottom;
        height: 275px;
        width: 100%;
        position: absolute;
        bottom: 0;
        @media(max-width: $medium-breakpoint) {
            
            height: 100%;        
        }


    }

    h2{
        @extend %header-font;
        margin-top: $default-padding * 3;
        margin-bottom: $default-padding;

        @media(max-width:$small-breakpoint){
            margin-top:$default-padding * 2;          
        }
    }

    p{
        @extend %summary-font;
        padding-bottom:$default-padding;
    }

    .hero-content{
        position: relative;
        z-index: 10;
        padding-bottom: $default-padding * 1.5;
       
    }

    .half-section-container-right{
        .hero-content{
            padding-left:$default-padding * 1.5;
        }
    }

}
.actions-container{
    display: flex;

    @media(max-width : $small-breakpoint){
        display: block;
    }
}
.sub-action-wrapper{
    padding-bottom: $default-padding * 1.5;
    li{
        padding-bottom:$default-padding / 2;
        @include font-size(18px);
        @include line-height(24px);
        span{
            &.icon{
                width:20px;
                height:20px;
                display:block;
                margin-right:$default-padding / 2;
            
                float: left;
                & + span{
                    width: calc(100% - 40px);
                    display: block;
                    padding-left:30px;
                }
            }
        }
    }
}
$action-hero-min-height:670px;

.guidance-hero-item{
    padding-left: 0;
    @extend %hero;
    .hero-item-image-container {
        background-position-x: right;      
        @media(max-width:$small-breakpoint){
            background-position-x: 15px;    
        }
    }


    .hero-content{
      
        @media(max-width:$small-breakpoint){
            padding-bottom: 250px;
        }
    }
}


.certification-hero-item{
    
    $search-certification-height:280px;
    padding-left:0;
    @extend %hero;
    .hero-item-image-container {
        background-position-x: left;
        bottom:0;
        z-index: 2;       
    }
    @media(max-width:$medium-breakpoint){
        .half-section-container-right{
            margin-bottom:195px;
        }    
    }

    @media(max-width:$small-breakpoint){
        .half-section-container-right{
            margin-bottom:0px;
            .hero-content{
                padding-bottom: 200px;
                padding-left:$default-padding;
            }
        }    
    }
}
[class*='-hero-item']{
    .hero-content{
        h2{
            margin-top:$default-padding* 2;
        }
    }
}
.search-container{
    background-color: #CBCDD3;
    padding-top:$default-padding;
    padding-bottom:$default-padding * 2;
    h2{
        margin-bottom:$default-padding;
    }
    @media(max-width: $medium-breakpoint){
        .search-content{
            padding: 0 $default-padding /2;
            h2{
                margin-top:$default-padding;
            }
        }
    }
    @media(min-width:$medium-breakpoint){
        [class*='col-']{
            padding-left:0;
        }
    }
}

@media(max-width: $medium-breakpoint) {
    .hero-content{
        .subtitle{
            display: none!important;
        }
    }
}