$card-font-size: 19px;
$action-width:50px;
.cards {
  display: flex;
  flex-wrap: wrap;

  .col-md-4{
    display: flex;
  }
    .post-link:hover {
      text-decoration: underline;
      color:$link-hover-color;
    }
    .card{
      background-color: $light-gray;
      color: $dark-font-color;
      display: flex;
      flex-direction: row;
      &:hover{
        background-color:#CBCDD3;
      }
    }

  .static-card{
        box-shadow: 1px 2px 4px #ccc;

      .static-card-content{
          background-color: $body-bg-color;
          border: 1px solid $light-gray;
          border-bottom: 0;
          width: 100%;
        header{
            background-color:$white;
            padding:$default-padding;
            h3{
              padding:0;
              margin:0;
            }
          }
          section {
            background-color: $body-bg-color;
            padding: $default-padding;
            @include font-size(16px);
          }
      }
    
  }
  .card {
    min-height: 100px;
    width: 100%;
    text-decoration:none;
    h3{
      @include line-height(49px);
      @include font-size(36px);
      font-weight: 300;
    }
  
    p{
      @include line-height(24px);
    }

    .card-action{
      display:flex;
      align-items:flex-end;
      width: $action-width;
      .post-link {
        text-decoration: none;
        color: $link-color;
        height:40px;
        width:100%;
        margin: 0 $default-padding 25px $default-padding / 2;
        svg{
          height: 40px;
        }
        
      }
    }

    .card-content {
      @include font-size($card-font-size);
      min-height: 220px;
      padding: $default-padding 0 $default-padding $default-padding;
      text-align: left;
      word-wrap: break-word;
      text-decoration: none;
      width: calc(100% - #{$action-width});

      @media(max-width: $small-breakpoint) {
        min-height: auto;
      }

      h3 {
        margin-top: 0;
       
      }
      
      .post-date{
        text-align: left;
        padding-bottom:$default-padding/2;
      }
    }
  }

}
.static-card-wrapper{
  .static-card-content{
    width: 100%;
  }
}
@media (max-width: $medium-breakpoint){
  .cards {
  
    .card {
      margin-bottom:40px;
      
      .card-content{
        min-height:0;
        h3{
          @include font-size(24px);
          @include line-height(33px);
        }
        .post-date{
          @include font-size(19px);
          @include line-height(16px);
        }
      }
    }
  }  
}

