.cookie-consent-container {
  display:none;
  position:fixed;
  bottom: 0;
  z-index: 100;
  width: 500px;
  right: 15%;

  &.show-cookie-consent{
    display:inline;
  }

  .cookie-consent {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: $default-padding;
    background: $black;
    color: $white;
    .cookie-consent-content {
      display: flex;
      align-items: center;
      & :first-child {
     
        a {
          @include font-size(14px);
          color: white;
          text-decoration: underline;
          
        }
      }
      .icon-wrapper{
        position:relative;
        left:25px;
        width:20px;
        height:20px;
        display: inline-block;
      }
      svg{
        width: 20px;
        height: 20px; 
      }
      button {
        margin-left: auto;
        @include font-size(18px);
        // reset bootstrap guff
        border: none;
        background: none;
        padding: 0;
        line-height: inherit;

      }
    }
  }

  
  @media(max-width: $small-breakpoint){
    width:100%;
    right:0;
    .cookie-consent {
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      .cookie-consent-content {
        svg{
          padding-right:0px;
          padding-left:0;   
        }
      }
    }
  }

}

