footer {
  background-color: $footer-bgc;
  color: $white;
  overflow: hidden;
  padding: $default-padding;
  > img {
    padding-bottom: $default-padding;
  }
  .footer-content {
    > h3 {
        @extend %small-font-size;
    }
  }
  h3 {
    color: white;
  }
  a {
     color: $mischka;;
     @extend %small-font-size;
     text-decoration: underline;
     &:hover ,  &:focus {
       background-color: transparent;
       text-decoration: underline;
       color: $white;
       cursor: pointer;
     }
  }
  .footer-quick-links {
    padding-top: $default-padding;
    //slight adjustments to grid so only 20px gap between columns
    @media (min-width: $small-breakpoint)  {
        div:nth-child(2n+1) {
            padding-right: 20px;
        }
        div:nth-child(2n) {
            padding-left: 10px;
        }
        div:nth-child(3n) {
          padding-left: 20px;
      }
    }
    @media (min-width: $medium-breakpoint) {
        div:nth-child(3n+1) {
            padding-right: 6.66666px;
        }
        div:nth-child(3n+2) {
            padding-left: 13.33333px;
            padding-right: 13.33333px;
        }
        div:nth-child(3n) {
            padding-left: 6.66666px;
        }
    }

   
    ul {
      margin-left:0;
      padding:5px 0 0 0;
      li {
        list-style: none;
        padding: 5px 0;
      }
    }
  }
  .footer-meta {
    padding-top: $default-padding;
    .footer-copyright {
      > a {
        float: right;
        text-decoration: none;
        padding: 5px 0;
      }
    }
    hr {
      margin-bottom: 40px;
    }
    ul{
      li {
        display: inline-block;
        padding: 5px 10px 5px 0;
      }
    }
  }

  ul.footer-support-links{
     margin-left:0;
  }
  @media(max-width : $medium-breakpoint){
     .section-container{
      margin-left:0;
      margin-right:0;
    }
    
  }
  @media(max-width: $small-breakpoint) {
    padding: $default-padding 0;
    .section-container{
      margin-left:$default-padding;
      margin-right:$default-padding;
    }
    .footer-meta , .footer-quick-links{
      [class*=col]{
        padding-left:0;
        padding-right:0;
      }
    }
  } 
  @media(max-width: $xsmall-breakpoint) {
   
    img{
      max-width: 100%;
    }
  }
}
