$header-hero-height: 460px;
$header-hero-content-bottom: 50px;

.header-hero-item {
  background-size: auto;
  background-repeat:no-repeat;
  
  min-height: $header-hero-height;
  background-color: $cornflowerBlue;
  background-position-y: 75px;
  background-position-x: -110px;
  


  @media(min-width: $large-breakpoint) {
    background-repeat: repeat-x;
    background-position-x: calc(100% - 150px);
  }

  @media(min-width: 1500px) {
    background-repeat: repeat-x;
    background-position-x: calc(100% - 350px);
  }

  @media(min-width: 1800px) {
    background-repeat: repeat-x;
    background-position-x: calc(100% - 550px);
  }


  @media(min-width: 2200px) {
    background-repeat: repeat-x;
    background-position-x: calc(100% - 750px);
  }


  @media(max-width: $medium-breakpoint) {
    background-position-x: calc(100% + 350px);

  }

  @media(max-width: $large-breakpoint) {
    background-size: unset;
    background-position-x: calc(100% + 150px);

  }

  @media (max-width: $medium-breakpoint){
    background-size: unset;
    background-position-x: calc(100% + 200px);
}

  .section-container{
    height: $header-hero-height;
    .row{
      margin:0;
    }

    h1 {
      @extend %header-font;
      padding:50px 0 $default-padding;
    
      margin: 0;
      font-family: 'raleway-regular', 'helvetica';
    }     

    .subtitle{
        @extend %summary-font;
    }
    .actions-wrapper{
      padding-top:$default-padding * 1.5;
    }
    @media(max-width: $xsmall-breakpoint) {
    
      [class*=col]{
        padding:0;
      }
      h1{
        padding-top:$default-padding * 2;
      }
    }
  }



  @media(min-width : $medium-breakpoint){
  .col-xs-12:first-of-type{
      padding:0;
    }
  }

  @media(max-width: $medium-breakpoint) {
    min-height: auto;
  }

  @media(max-width: $small-breakpoint) {

  }

}

