
[class*='overlay-']{    
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;    
    background-repeat: no-repeat;
  }
  
  .overlay-right{
    right:0;
  }
  
  .overlay-left{
    left:0;
  }
  
.overlay-right{
       
}

.overlay-left{
    
    
}

.overlay-right{
    .hero-item & {
        width:522px;
    }
  }
  
  .overlay-left{
    .hero-item &{
        width:522px;
    }
    
  }