.page {
  background: none;
  overflow-x: hidden;
  padding-left: $default-padding;
  padding-right: $default-padding;
  position: relative;
  .container{
    padding-left:0;
    padding-right:0;
  }
  @media screen and (max-width: $medium-breakpoint) {
        width: 100%;
        overflow-x: hidden;
      }

  @media screen and (max-width: $xsmall-breakpoint) {
    .page-content:not(.wrapper){
      margin-left:0px;
      margin-right:0px;
    }
  }
}

.page-subtext {
  
  margin:$default-padding * 1.5 0;
  @include font-size(18px);
  .affiliate-overlay & {
    margin:$default-padding 0;
    padding-bottom: $default-padding * 2;
  }
}
.page-padding-top{
  padding-top:$default-padding * 2;
}
.page-content{
  background-color:#fff;
  min-height: 100px;
  max-width: $bootstrap-container-max-width;
  padding-bottom: $default-padding * 3;
  &.affiliate-page-content{
    padding-bottom: $default-padding;
  }
  @media screen and (max-width: $xsmall-breakpoint) {
      &:not(.wrapper){    
        padding-bottom: 0;
      }
      
  }

}

.affiliate-overlay{
  min-height:200px;
  height:auto;
  background-color:$affiliate-color;
  background-repeat: no-repeat;
  background-position-x: calc(100% - 200px);
  background-position-y: bottom;
  margin-left: #{0-$default-padding};
  margin-right: #{ 0 - $default-padding};
  padding-top:$default-padding * 2;
  @media(max-width: $medium-breakpoint){
    background-position-x: calc(100% - 50px);
  }
  
  @media(max-width: $small-breakpoint){
    background-position-x: 50px;
  }
  .section-container{
    /*margin-left:30px;
    margin-right:30px;*/
  }
  @media(max-width: $medium-breakpoint){
    .section-container{
      margin-left:20px;
      margin-right:20px;
    }
  }
  @media(max-width: $small-breakpoint){
    
    [class*=col]{
        padding-left:0;
        padding-right:0;
    }
  }
}

.sitemap{
  hr{
    margin-top:$default-padding * 2;
    margin-bottom:$default-padding * 2;
  }
  ul{
    list-style:none;
    padding-left: 0;
    a{
      text-decoration:underline;
    }
  }
}