.post{

    &.container{
        padding:$default-padding * 2 0 0;

        .content-wrapper{
            padding-bottom:40px;
        }
    }

    .post-date {
        @include font-size(18px);
        color:$text-color;
    }
    
  
}
