---
layout: base
---

{% capture isAffiliate %}{% if page.categories contains "affiliate" %}Yes{% else %}No{% endif %}{% endcapture%}

{% if isAffiliate == 'Yes' %}
  <div class=" affiliate-overlay page-padding-top " style="background-image:url('/uploads/Promo_Affiliates.png');">      
    <div class='section-container' >
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1> {{site.affiliate-header.title| escape}}</h1>
          <p class='page-subtext'>{{site.affiliate-header.summary| escape}}</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% capture hasDownload  %} {% if page.downloads[0].file == nil %} '0' {% else %} '1' {% endif %} {% endcapture %}
<div id="body-container"  class="container {% unless hasDownload contains '0'  %} has-download {% endunless %} page-padding-top ">
  <div id="content-container">
      {% if isAffiliate == 'No' %}
        <div class="row">            
          <div class="col-sm-8 col-xs-12">      
            <h1 class="block-header"> {{page.title| escape}}</h1>
            <p class='page-subtext'>{{page.summary| escape}}</p>
          </div>

        </div>
      {% else %}
      <div class="row">            
        <div class="col-sm-8 col-xs-12">      
          <h2> {{page.title| escape}}</h2>
          <p class='page-subtext'>{{page.summary| escape}}</p>
        </div>

      </div>
      {% endif %}
      {% capture count  %} {{ page.downloads | size | minus:1 }} {% endcapture %}
      
 

    <div class="row">
      <div class="col-sm-8 col-xs-12">
        <div class="page-content {% if isAffiliate == 'Yes' %} affiliate-page-content {% endif %}" id="page-content-container">
          {% unless hasDownload contains '0' %}
            <div class="row link-to-download-section">
              <div class="col-md-2 col-xs-6">
                <h4>Information</h4>
              </div>
              <div class="col-md-3 col-xs-6">
                  <h4 class='download-link'><a href='#download'>Download</a></h4>
                </div>
            </div>
          {% endunless %}
          <div class="row">
              <div class="col-xs-12">
                {{ content | regexremoveXSSFromBodyText}}
              </div>
          </div>

          
       
          {% unless hasDownload contains '0' %}
              {% comment %}
              get the file name and type from the file if the title and type have not been populated from the cms
              {% endcomment %}
              
              <div class="row  download-section">
                  <div class="col-xs-12">
                      <span id="download"></span>
                      <h3 class='download-title'>Download</h3>
                      {% assign dowloadItems = page.downloads   %}
                      <ul class='plain-list'>
                      {% for downloadItem in dowloadItems %}
                      
                      {% capture downloadFileName %}{% if downloadItem.title %}{{downloadItem.title}}{% else %}{{downloadItem.file | replace_first: '{"file"=>"/uploads/', '' | split: '.' | first }}{% endif %}{% endcapture%}
                      {% capture downloadFileType %}{% if downloadItem.type  %}{{downloadItem.type}}{% else %}{{downloadItem.file | split: '.'| last }}{% endif %}{% endcapture%}
                      
                        <li class='download-wrapper'>
                          <div class='icon'></div>
                          <div class='pull-right details-wrapper'>
                            <h4><a href='{{downloadItem.file | escape }}' title='Download file {{downloadFileName | escape }}' download target='_blank'>{{downloadFileName | escape }}</a></h4>
                            <p>{{downloadFileType| escape}}</p>
                          </div>
                        </li>
                      
                      {% endfor %}
                    </div>

                  </div>
              </div>
          {% endunless %}

        </div>

      </div>
        {% if isAffiliate == 'Yes' %}
    
        {% assign latest3Posts = "" | split: "|" %}
        
        {% assign category = 'affiliate' %}
        {% for post in site.categories[category] %}
        
          {% unless post.published == false %}
            {% assign latest3Posts = latest3Posts | push: post %}
          {% endunless %}
        {% endfor%}
          {% if latest3Posts.size > 0 %}
              <div class='row recent-news information-page'>
                  <div class='section-container'> 
                      <hr/> 
                      <h3>Affiliates Latest</h3>
                
                  </div>
              </div>
          
          {% endif %}

        {% endif %}
      
     
      </div>
    </div>
    
  </div>
</div>
